<div class="main">

    <div class="lateralEsquerdaDados">

        <div class="perfil globalFont">
            <div class="justificate">
                <div>
                    <img src={{perfil.avatar_url}} alt="">
                </div>
    
                <div style="display: flex; flex-direction: column; padding: 5px;">
                    <div>
                        <b> {{perfil.name}}</b>
                    </div>
                    <div style="color: #a0aec0;">
                        @{{perfil.login}}
                    </div>
                </div>
            </div>
    
            <p>{{perfil.bio}}</p>
            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-sharp fa-solid fa-people-group"></i>
                </div>
                <span>{{perfil.followers}} seguidores</span>
            </div>
    
            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <span>{{perfil.following}} seguindo</span>
            </div>


            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <span>{{perfil.company}} seguindo</span>
            </div>
    
            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <span>{{perfil.location}}</span>
            </div>
    
            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <span>{{perfil.email}}</span>
            </div>
    
            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-solid fa-link"></i>
                </div>
                <span>{{perfil.blog}}</span>
            </div>
    
            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <span>{{perfil.twitter_username}}</span>
            </div>
        </div>

        <div class="divBotaoContato" >
            <button class="globalButtonStyle botaoContato"> <b>Contato</b> </button>
        </div>
    </div>

    <div class="divRepositorios">
        <ul>
            <li *ngFor="let r of repositorio">
                <div>
                    <div class="nomeRepositorio" style="margin: 15px;">
                       <a href="getUrl(r.name)">
                            <b> {{ r.name }} </b>
                        </a>
                    </div>

                    <div class="descricaoRepositorio" style="margin: 15px;">
                       {{ r.description }}
                    </div>

                    <div class="statusRepositorio">
                        <div class="icon-box">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <span> {{ r.stargazers_count }} </span>
                        
                        <div class="icon-box">
                            <i class="fa-solid fa-circle fa-2xs" style="font-size: 4px;"></i>
                        </div>
                        <span> Atualizado há 2 dias </span>
                    </div>
                    <hr>
                </div>
            </li>
        </ul>


    </div>

</div>