@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

.main {
    background-color: #fcfcfc;
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'M PLUS Rounded 1c', Courier, monospace;  
}

img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.perfil {
    background-color: gray;
    max-width: 15em;
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    background-color: #ffffff;
}

.mat-icon.inverted {
    color: #ffffff;
    
    border-radius: 50%;
    padding: 0.25rem;
}

.justificate {
    display: flex;
    align-items: center;
}


.repositorios {
    margin-left: 50px;
    background-color: gray;
    width: 70%;
    color: orange;
}


.nomeRepositorio {
    padding: 5px;
}

.descricaoRepositorio {
    padding: 5px;
    color: #a4a9b3;
}


.statusRepositorio {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

hr {
    width: 95%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #171923;
}

.lateralEsquerdaDados {
    display: flex;
    
    flex-direction: column;
}

.divBotaoContato {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.botaoContato {
    width: inherit;
}

.divRepositorios {
    margin-left: 30px;
    background-color: #ffffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}