<div class="main">

    <div class="lateralEsquerdaDados">

        <div class="perfil globalFont">
            <div class="justificate">
                <div>
                    <img src={{perfil.urlImagem}} alt="">
                </div>
    
                <div style="display: flex; flex-direction: column; padding: 5px;">
                    <div>
                        <b> {{perfil.nome}}</b>
                    </div>
                    <div style="color: #a0aec0;">
                        @{{perfil.login}}
                    </div>
                </div>
            </div>
    
            <p>{{perfil.biografia}}</p>
            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-sharp fa-solid fa-people-group"></i>
                </div>
                <span>{{perfil.qtdSeguidores}} seguidores</span>
            </div>
    
            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-solid fa-heart"></i>
                </div>
                <span>{{perfil.qtdSeguindo}} seguindo</span>
            </div>


            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <span>{{perfil.empresaTrabalho}} seguindo</span>
            </div>
    
            <div class="justificate">
                <div class="icon-box">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <span>{{perfil.localizacao}}</span>
            </div>
    
            <div class="justificate" *ngIf="perfil.email">
                <div class="icon-box">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <span>{{perfil.email}}</span>
            </div>
    
            <div class="justificate" *ngIf="perfil.blogURL">
                <div class="icon-box">
                    <i class="fa-solid fa-link"></i>
                </div>
                <span>{{perfil.blogURL}}</span>
            </div>
    
            <div class="justificate" *ngIf="perfil.twitter">
                <div class="icon-box">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <span>{{perfil.twitter}}</span>
            </div>
        </div>

        <div class="divBotaoContato" >
            <button class="globalButtonStyle botaoContato"> <b>Contato</b> </button>
        </div>
    </div>

    <div class="divRepositorios">
        <ul>
            <li *ngFor="let repositorio of repositorios">
                <div>
                    <div class="nomeRepositorio" style="margin: 15px;">
                       <a href="{{ getUrl(repositorio.nome) }}" target="_blank">
                            <b> {{ repositorio.nome }} </b>
                        </a>
                    </div>

                    <div class="descricaoRepositorio" style="margin: 15px;">
                       {{ repositorio.descricao }}
                    </div>

                    <div class="statusRepositorio">
                        <div class="icon-box">
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <span> {{ repositorio.qtdEstrelas }} </span>
                        
                        <div class="icon-box">
                            <i class="fa-solid fa-circle fa-2xs" style="font-size: 4px;"></i>
                        </div>
                        <span> Atualizado há {{ repositorio.tempoPassado }} dias </span>
                    </div>
                    <hr>
                </div>
            </li>
        </ul>


    </div>

</div>