
<div class="main">
    <div style="padding: 10px;">
        <span class="searchColor"> Search </span> 
        <span class="devsColor"> d_evs </span>
    </div>

    <div class="container">
        <div class="divSearch">
            <mat-icon fontIcon="search" style="padding: 5px">  </mat-icon>
            <input class="inputStyled" type="text" name="nome" id="nome" placeholder="Search" [(ngModel)]="nomeUsuario">
        </div>
    
        <button class="globalButtonStyle" (click)="buscarUsuario()">Search</button>
    </div>

</div>


